<%- include ("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">Edit <%= blog.shul %></div>
	<form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
		<div class="field">
			<label>Shul Name</label>
			<input type="text" name="blog[shul]" value="<%= blog.shul %>" placeholder="shul">
		</div>
		<div class="field">
			<label>Rabbi's Name</label>
			<input type="text" name="blog[rabbi]" value="<%= blog.rabbi %>" placeholder="rabbi">
		</div>
		<div class="field">
			<label>Rabbi's Image</label>
			<input type="text" name="blog[image]" value="<%= blog.image %>" placeholder="image">
		</div>
		  <button class="ui inverted primary button">Submit</button>
			<a class="ui inverted yellow button" href="/blogs/<%= blog._id %>">Go Back</a>
		
	</form>
</div>

<%- include ("partials/footer") %>
